// Цвета
$primary-color: #24ed35;
$primary-hover: #108ec9;
$input-bg: #F3F6FF;
$input-hover: #dae3ff;
$icon-color: #8593a5;
$text-primary: #15203D;
$text-secondary: #93989d;

// Размеры
$border-radius: 8px;
$input-height: 48px;
$spacing-base: 16px;
